# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# pre train model
model/*.h5

# img
*.jpg
!data/input_data/input_img.jpg
!data/val_data/1ade69b2-4f14-11ef-9794-beecda8d9db4.jpg